body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80f775;
    padding: 10px 20px;
} 

.navbar .logo img {
    height: 70px; 
}

.nav-pag {
    display: flex;
    gap: 30px;
}

.nav-pag a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-pag a:hover {
    background-color: #86be67;
}

.ajuda-button {
    background-color: green; 
    color: white;
    border-radius: 5px; 
}



.barra{
    height: 2.3px;
    width: 100%;
    background-color: grey;}

.W20{
    display: flex;
    justify-content: space-between;
}
.pesquisa-button{
    margin: 15px;
}

.W80{
    display: flex;
    justify-content: space-around;
}

.W70{
    width: 70%;
    font-size: 40px;
}
.W30{
    width: 30%;
}

.lista{
    padding: 10px;
    border-radius: 5px;

}

.total-itens{
    border-left: 95%;
}

.carrinho{
    padding-left: 30px;

    border-radius: 5px;
}
.carrinho,h2{
    background-color: #80f775;
    color: black;
}


.pesquisa-button {
    padding: 10px 15px;         
    background-color: rgb(15, 151, 15); 
    color: rgba(231, 247, 230, 0.881); 
    border-radius: 5%; 
    cursor: pointer;
    position: relative; 
}

.pesquisa-button::before {
    color: rgba(255, 255, 255, 0.5); 
}

.pesquisa-button:hover {
    background-color: rgb(78, 180, 78);
}
    

.final-button {
    background-color: #28a745; 
    color: rgb(255, 255, 255);
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 15px; 
    
}

.final-button:hover {
    background-color: #218838;}