body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80f775;
    padding: 10px 20px;
} 

.navbar .logo img {
    height: 70px; 
}

.nav-pag {
    display: flex;
    gap: 30px;
}

.nav-pag a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-pag a:hover {
    background-color: #86be67;
}

.ajuda-button {
    background-color: green; 
    color: white;
    border-radius: 5px; 
}

.barra{
    height: 2.3px;
    width: 100%;
    background-color: #717171;}





.h20{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultado-text {
    display: flex;
    justify-content: space-between;
}

.h80{
    display: flex;
    justify-content: space-around;
}

.coll-8{
    width: 50vw;
    font-size: 40px;
    background-color: aquamarine;
}

.coll-4{
    width: 20vw;
}

#lista2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista ul {
    padding: 0;
    margin: 0;
    align-self: flex-start;

    overflow: hidden;
    text-overflow: ellipsis;
}

h2{
    background-color: rgb(0, 142, 66);
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.total-itens{
    border-left: 95%;
}

.carrinho{
    border-radius: 5px;
}


    
.final-button {
    background-color: #28a745; 
    color: rgb(255, 255, 255);
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 15px; 
    
}

.final-button:hover {
    background-color: #218838;}


@media (max-width: 640px){
    .h80{
        flex-direction: column;
    }
    .coll-8{
        width: 100%;
    }
    .coll-4{
        width: 70%;
    }
}